@import url(../css/fonts.css);


/* 1 */

:root {
    --very-dark-blue-line: #2E405A;
    --White: #FFF;
    --Outfit: "Outfit";
    --very-dark-blue-main-bg: #0D192C;
    --very-dark-blue-card-bg: #15263F;
    --Soft-Blue: #8BACD9;
    --Cyan: #00FFF8;

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Speacial css fons */


body {
    height: 100%;
    padding-top: 152px;
    padding-bottom: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: var(--very-dark-blue-main-bg);
}


.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    width: 350px;
    padding-top: 24px;
    padding-bottom: 32px;
    border-radius: 15px;
    background-color: var(--very-dark-blue-card-bg);
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);
   
}

.block_image, .page-image {
    display: block;
    width: 302px;
    height: 302px;
    border-radius: 8px;
    background-image:  lightgray 50% / cover no-repeat;
}

.page-image:hover {
    cursor: pointer;
}

.block_image, .page-image:active {
    opacity: 0.503;
    background: url(../Img/Eye.png) no-repeat center center var(--Cyan);
}

.eye {
    color: var(--White);
}






 

  

  




.page-image {}

.block_image {}

.block_dew {
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.dew {}

.dew-title {
    color: var(--White);
    font-size: 22px;
    font-family: var(--Outfit);
    font-weight: 600;
}

.dew-title:hover {
    cursor: pointer;
}

.dew-title:active {
    color: var(--Cyan);
}

.dew_text {
    max-width: 302px;
    width: 100%;
    color: var(--Soft-Blue);
    font-family: var(--Outfit);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.block-lavel {
    width: 100%;
    padding-left: 24px;
    padding-right: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lavel {}

.lavel-extent {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6.48px;
}

.extent {}

.extent-text {
    color: var(--Cyan);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 600;
}

.lavel-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7.7px;
}

.clock {}

.clock-text {
    color: var(--Soft-Blue);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
}

.block-footer {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer {}

.footer-stripe {
    width: 100%;
    height: 1px;
    background-color: var(--very-dark-blue-line);
}

.footer-dew {
    display: flex;
    align-items: center;
}

.footer_img {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 16px;
}

.creation {
    color: var(--Soft-Blue);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.footer-fullName {  
    color: var(--White);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
}

.footer-fullName:hover {
    cursor: pointer;
}

.footer-fullName:active {
    color: var(--Cyan);
}



